<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="AFI_NUEVAS_AFILIACIONES"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="AFI_NUEVAS_AFILIACIONES"/>
    <stringAttribute key="TALEND_JOB_ID" value="__4heoEezEe-Zj8NxOuB9qg"/>
    <stringAttribute key="TALEND_JOB_NAME" value="ServiceNuevasAfiliaciones"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.2"/>
</launchConfiguration>
