<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="AFI_CARGUE_APORTES"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="AFI_CARGUE_APORTES"/>
    <stringAttribute key="TALEND_JOB_ID" value="_aB8s4OiaEeatJ_-pyNp6lQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="CargarAportes"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
