<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="HCL_HISTORIA_CLINICA"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="HCL_HISTORIA_CLINICA"/>
    <stringAttribute key="TALEND_JOB_ID" value="_G-xzoEeIEe-0rv4KxAVDXQ"/>
    <stringAttribute key="TALEND_JOB_NAME" value="ServiceHistoriaClinica"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="0.2"/>
</launchConfiguration>
