<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="AFI_EXTINCION"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="AFI_EXTINCION"/>
    <stringAttribute key="TALEND_JOB_ID" value="_2nnWALZ3EeaFO84cVtR0aA"/>
    <stringAttribute key="TALEND_JOB_NAME" value="ETL_criterios"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="1.1"/>
</launchConfiguration>
