<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
    <stringAttribute key="CURRENT_PROJECT_NAME" value="REP_INICIO"/>
    <stringAttribute key="JOB_PROJECT_TECH_LABEL" value="REP_INICIO"/>
    <stringAttribute key="TALEND_JOB_ID" value="_R8R6MB3fEeabsctnTirxYw"/>
    <stringAttribute key="TALEND_JOB_NAME" value="Inicio"/>
    <stringAttribute key="TALEND_JOB_VERSION" value="3.0"/>
</launchConfiguration>
